body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffefd5;
  /* Light cream background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 100vh;
  margin: 0;
}

.app-container {
  background-color: #ff5733;
  /* Orange background */
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 600px;
  /* Ajustado para um tamanho mais responsivo */
  max-width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: white;
  box-sizing: border-box;
}

.main-content {
  min-height: 75vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #f39c12;
  padding: 10px;
  border-radius: 8px;
}

.nav-list li a:hover {
  background-color: #e67e22
}

.nav-right {}