.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.5em;
  color: #4CAF50;
}

button {
  display: inline;
  color: white;
  border-radius: 8px;
  background-color: #4CAF50;
}