body {
    display:flex;
    flex-direction: column;
    background-color: #c9c9c9;
    align-items:center;
    min-height: 100vh;
    margin:0;
}
main {
    background-color: #f9f9f9;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    flex-grow:1;
    width:80%;
    padding:3%;
}

footer {
   background-color:#29293a;
   color: #f5f3f3;
   display: flex;
   flex-direction: column;
    width:80%;
    padding:3%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items:flex-start;
}
.infos-quadro {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    width: 70%;
    font-weight: bold;
    font-family: "Open Sans", serif;
    margin: 0 auto;
}

.nome-quadro {
    color: #9f2042;
    font-style: normal;
    font-size: 250%;
    margin-bottom: 0%;
    margin-top: 3%; 
    font-family: inherit;
}

.detalhes-quadro {
    display:flex;
    justify-content:center;
    color: #a9a9ba;
    margin-top: 0%;
    font-size: small;
    font-family: inherit;
    width: 100%;
    text-align:center;
    
}


p {
    display:flex;
    text-align: justify;
    font-family: "Roboto Slab", serif;
    font-size: small;
    line-height: 1.6;
}

strong {
    background-color: #f5f3f3;
    display:block;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#9f2042;
    text-decoration: underline;
}


nav li {
    display: inline;
    color: #9f2042;
    margin:inherit; 
}

nav ul {
    padding-left: 0; 
    margin: 0; 
}
.links {
    display:flex;
    align-self:flex-start;
    gap:2px;
    padding-left:0;
}
.links li {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #f5f3f3;
    padding: 1%;
    color: #ec8295;
    margin:0;
}
figure {

    display: flex;
    justify-content: center;
}

img {
    width: 80%;
}
